body{
  background-color: grey;
  text-align: center;
  border-style: outset;
  border-color: white;
  background-image: url(https://storage.googleapis.com/afs-prod/media/afs:Medium:5541950108/775.jpeg);
}

.shonglee{
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: lucida console 
}

.contact{
  color:white;
  font-size: 20px;
  border-style: ridge;
  border-width: 2px;
  
 
}

.exp{
  color:white;
  list-style-position: inside;
}

.ref{
  color:white;
}

h3{
  text-transform: uppercase;
}


