body{
  background-color: blue;
  text-align: center;
}

.shonglee{
  color: gold;
  font-size: 30px;
  text-align: center;
  font-family: Helvetica 
}

.contact{
  color:gold;
  font-size: 20px;
 
}

.exp{
  color:gold;
}

.ref{
  color:gold;
}

h3{
  text-transform: uppercase;
}

